/* Estilos generales*/
*{
    font-family: Helvetica;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contenedor{
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
}
.contenedorPhoto{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
}
/* Estilos Navigation Bar*/

.NavBar{
    position: relative;
    width: 100%;
}

.NavigationBar{
    margin: 0;
    padding: 20px 10% 20px 10%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
}
li{
    float: left;
}
li a{
    display: block;
    text-align: center;
}

.Vaccination{
    color: rgb(45, 79, 198);
    font-size: larger;
    font-weight: bold;
    padding-right: 276px;
    
}
.sections{
    color: gray;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 60px;
}
.booster{
    font-weight: bold;
    background: rgba(35,83,213,1); 
    border-radius: 20%;
    color: white;
    padding: 5px 10px 5px 10px;
    
    
}



/* Estilos Titulos*/
.Title{
    width: 50%;
    height: 500px;
    padding-top: 2%;
    padding-bottom: 2%;

}
.TitleR{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 608px;
    background: rgba(35,83,213,1); 
    align-items: flex-end;  
    justify-content: center;
    display: flex;
}

.Title1{
    color: rgb(24, 45, 94);
    font-size: xxx-large;
    font-weight: bolder;
    
}
.Body1{
    color: rgb(91, 103, 128);
    font-weight: 500;
    line-height: 0.7cm;
}
.options{
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
}

.option{
    display: block;
    text-align: center;
    padding: 0 40px 0 0;
    color: rgb(24, 45, 94);
    font-size: small;
}

/*Estilos Schedule*/
.Schedule{
    width: 60%;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 60%;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: baseline;
}
.schTxtSub{
    color: rgb(24, 45, 94);
    font-size: large;
    padding-left: 15px;
    font-weight: bold;

}
.schTxt{
    color: gray;
    font-size: small;
    padding: 0 80px 0 20px;
}

.submit{
    font-weight: bold;
    background: rgba(35,83,213,1); 
    border-radius: 20%;
    color: white;
    padding: 20px 40px 20px 40px;
    margin: 0 20px 0 0;

}

/*Estilos Vaccines*/
.Vaccines img{
    width: 70%;
    opacity: 0.5;
    color: gray;
}

.Vaccines{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*Estilos Why Should I Vaccine?*/
.Why{
    width: 100%;
    height: 200px;
}
.Question{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(24, 45, 94);
}
.Answer{
    font-weight: 500;
    color: rgb(91, 103, 128);
    line-height: 0.7cm;
    padding-right: 10px;
}
/*Estilos Why Should I Vaccine? Reasons*/
.contenedor3{
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
    gap: 50px;
}
.reasons{
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgb(45, 79, 198);
    border-style: outset;
    border-color: rgba(255, 255, 255, 0.5);
    padding-left: 40px;
}
.Resason{
    font-size: large;
    font-weight: 400;
    color: rgb(24, 45, 94);
}

.preparations{
    width: 50%;
    height: 475px;
    background-color:tomato;
}

.Contact{
    width: 50%;
    height: 475px;
    background-color:darkgoldenrod;
}

