/* Estilos generales*/
*{
    font-family: Helvetica;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contenedor{
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
}
.contenedorPhoto{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
}
/* Estilos Navigation Bar*/

.NavBar{
    position: relative;
    width: 100%;
   
}

.NavigationBar{
    margin: 0;
    padding: 20px 10% 20px 10%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
}
li{
    float: left;
}
li a{
    display: block;
    text-align: center;
}

.Vaccination{
    color: rgb(45, 79, 198);
    font-size: larger;
    font-weight: bold;
    padding-right: 276px;
    
}
.sections{
    color: gray;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 60px;
}
.booster{
    font-weight: bold;
    background: linear-gradient(90deg, rgba(21,124,221,1) 0%, rgba(35,83,213,1) 100%); 
    border-radius: 20%;
    color: white;
    
}



/* Estilos Titulos*/
.Title{
    width: 50%;
    height: 475px;
    padding-top: 2%;
    padding-bottom: 2%;

}
.TitleR{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 583px;
    background: rgba(35,83,213,1); 
    align-items: flex-end;  
    justify-content: center;
    display: flex;
}

.Title1{
    color: rgb(24, 45, 94);
    font-size: xxx-large;
    font-weight: bolder;
    
}
.Body1{
    color: gray;
    font-weight: lighter;
    
}
.options{
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
}

.option{
    display: block;
    text-align: center;
    padding: 0 40px 0 0;
    color: rgb(24, 45, 94);
    font-size: small;
}

/*Estilos Schedule*/
.Schedule{
    width: 50%;
    height: 80px;
    position: absolute;
    left: 10%;
    top: 60%;
    background-color: rgba(255, 255, 255, 0.98);
}
.sch{
    color: rgb(24, 45, 94);
    font-weight: bold;
}
.submit{
    font-weight: bold;
    background: rgba(35,83,213,1); 
    border-radius: 20%;
    color: white;
    padding: 20px 10px 20px 10px;

}



.Vaccines{
    width: 100%;
    height: 80px;
    background-color:aqua;
    
}

.Why{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

.reasons{
    width: 100%;
    height: 80px;
    background-color: orange;
}

.preparations{
    width: 50%;
    height: 475px;
    background-color:tomato;
}

.Contact{
    width: 50%;
    height: 475px;
    background-color:darkgoldenrod;
}

