@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

*{
   
   font-family: 'Press Start 2P', cursive;
   
    
}

body{
    margin: 20px 5% 0 5%;
    
}


table{
    margin-left: auto;
    margin-right: auto;
}
.stats th, .stats td {
    border-bottom: 1px solid #ddd;
    padding: 7px 15px 7px 15px;
    text-align: left;
    background-color: coral;
  }


button{
    border-radius: 10px;

    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px, 1000px, 1px, #fff inset;

}

button:hover{
    box-shadow: none;
    color: white;
}

.Moves{
    column-count: 5;
}
li{
    font-size: medium;
    line-height: 0.7cm;
}


/*Creditos Finales*/
.credits{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: #FAEFE9;
    padding: 10px;
    margin-top: 70px;
}
.credits p{
    font-size: 14px;
    font-family: monospace;
}
