
/*Creditos Finales*/
.credits{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: #FAEFE9;
    padding: 10px;
    margin-top: 70px;
}
.credits p{
    font-size: 14px;
    font-family: monospace;
}